* {
    margin: 0;
}

.container {
    border: 3px solid black;
    height: 500px;

}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: darkgreen;
    margin: 5px ;

}

.buttons {
    border: 4px solid black;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.choices{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}



.choice {
    display: flex;
    justify-content: space-evenly;
}

p {
    font-size: 30px;
}

.holder {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.container-2{
    border: 3px solid black ;
    height: 200px;
    margin-top: 10px;
}

.scores {
    display: flex;
    justify-content: space-evenly;
}